@{
    ViewData["Title"] = "Groep aanmaken";
}

@model IEnumerable<Person>

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/Topbar_Sidenav.css">
        <script type="text/javascript" src="~/js/site.js"></script>
        <style>
            body {
                font-family: 'Trebuchet MS', sans-serif;
                background: #ffffff;
                margin: 0 auto 0 auto;
                width: 100%;
                text-align: center;
                margin: 0px 0px 0px 0px;
            }

            .topbar {
                background-color: #808080;
            }

            .navbtn {
                background-color: #808080;
            }

            .overlay {
                background-color: #808080;
            }

            .overlay a:hover, .overlay a:focus, .logout a:hover, .logout a:focus {
                color: #cccccc;
            }

            /* Colored box in the center of the page contains the CreateGroups form. */
            .box {
                background: #808080;
                width: 600px;
                border-radius: 6px;
                position: center;
                margin: 0 auto 0 auto;
                padding: 50px 100px 50px 50px;
                border: #000000 4px solid;
            }

            .box p {
                color: #ffffff;
                font-size: 26px;
            }

            form {
                margin-top: 110px;
            }

            input {
                font-family: 'Trebuchet MS', sans-serif;
                font-size: 24px;
            }

            select {
                font-family: 'Trebuchet MS', sans-serif;
                font-size: 18px;
                margin: 0px 0px 20px 0px;
                padding: 5px;
            }

            /* Button to submit the new group */
            #submit {
                margin-top: 20px;
                background-color: #ffffff;
                border-radius: 25px;
                border: none;
                padding: 5px;
                width: 150px;
                cursor: pointer;
                transition: 0.2s;
            }

            #submit:hover {
                background-color: #cccccc;
            }

            #absoluteCenteredDiv {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: left;
                margin-top: 94px;
            }

            /* Link back to the groupmanagement page. */
            #manage-groups {
                padding: 20px;
                text-decoration: none;
                color: #0000ff;
                font-size: 22px;
                transition: 0.2s;
            }

            #manage-groups:hover {
                color: #b3b3ff;
            }
        </style>
    </head>
    <body>
        <!-- Colored bar at the top of the page -->
        <div class="topbar">

            <!-- The button that opens the sidemenu -->
            <span class="navbtn" onclick="nav()">&#9776; </span>

            <!-- Page title -->
            <h1 style="width: 58%;">Groep aanmaken</h1>

            <!-- Account information button -->
            <a href="@Url.Action("Profile", "Person")"><img id="acc-icon" src="@Url.Content("~/Content/account.png")" /></a>
        </div>

        <!-- Sidemenu overlay -->
        <div id="nav" class="overlay">
            <div class="overlay-content">
                <a href="@Url.Action("Newsfeed", "Person")">Nieuws</a>
                <br>
                <a href="@Url.Action("ForumHome","Forum")">Forums</a>
                <br>
                <a href="@Url.Action("Index", "Chat")">Chat</a>
                <br>
                <a href="@Url.Action("Groepen", "Person")">Groepen</a>
                <br>
                <a href="@Url.Action("Personlist", "Person")">Gebruikers</p>
            </div>
            <div class="logout"><a href="@Url.Action("Logout", "Person")">Log uit</a></div>
        </div>

        <!-- Actual content of the page -->
        <div id="absoluteCenteredDiv">

            <!-- Link back to the groupmanagement page. -->
            <a id="manage-groups" href="@Url.Action("GroepenManagen", "Person")">&#8592; Groepen beheren</a>

            <!-- Form to create a new group. -->
            <form asp-action="CreateGroups" method="post">
                <div class="box">
                    <p>Groepnaam</p>
                    <input type="text" required name=GroupName id="GroupName" size="50"><br><br>

                    <p>Manager</p>
                    <select id="ManagerId" name="ManagerId">
                        
                        <!-- The Person can choose an existing manager from the model for the new group. -->
                       @foreach (var manager in Model)
                        {
                            <option value="@manager.PersonId">@manager.FirstName @manager.LastName</option>
                        }

                    </select><br>

                    <input type="submit" value="Aanmaken" id="submit">
                </div>
            </form>
        </div>
    </body>
</html>

