@{
    ViewData["Title"] = "Account aanmaken";
}

@model meldboek.Models.Person
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/Topbar_Sidenav.css">
        <style>
            body {
                font-family: 'Trebuchet MS', sans-serif;
            }

            .topbar {
                background-color: #ea9999;
            }

            .navbtn {
                background-color: #ea9999;
            }

            .overlay {
                background-color: #ea9999;
            }

            .overlay a:hover, .overlay a:focus, .logout a:hover, .logout a:focus {
                color: #f2c0c0;
            }

            .box {
                background: #ea9999;
                height: 300px;
                border-radius: 6px;
                padding: 50px 0px 40px 50px;
            }

            .box h1 {
                color: #ffffff;
                font-size: 22px;
            }

            label {
                font-size: 20px;
                color: white;
            }

            input {
                font-family: 'Trebuchet MS', sans-serif;
                font-size: 20px;
            }

            .button {
                background-color: #ffffff;
                width: 275px;
                padding: 10px 20px 10px 20px;
                color: #000000;
                border-radius: 25px;
                border: none;
                font-size: 22px;
                cursor: pointer;
                transition: 0.2s;
            }

            .button:hover {
                background-color: #f2c0c0;
            }

            #absoluteCenteredDiv {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 800px;
                height: 375px;
                text-align: left;
                margin: 200px auto 0px auto;
            }

            .row {
                width: 100%;
                margin: 0px 0px 20px 0px;
            }

            .column {
                float: left;
                margin: 0px 20px 0px 0px;
            }

            #personlist {
                padding: 100px 0 0 20px;
            }

            #personlist a {
                text-decoration: none;
                color: #0000ff;
                font-size: 22px;
                transition: 0.2s;
            }

            #personlist a:hover {
                color: #b3b3ff;
            }
        </style>
    </head>
    <body>
        <!-- Colored bar at the top of the page -->
        <div class="topbar">
            <!-- The button that opens the sidemenu -->
            <span class="navbtn" onclick="nav()">&#9776; </span>

            <!-- Page titles -->
            <h1 style="width: 59%;">Account aanmaken</h1>

            <!-- Account information button -->
            <a href="@Url.Action("Profile")"><img id="acc-icon" src="@Url.Content("~/Content/account.png")" /></a>
        </div>

        <!-- Sidemenu overlay -->
        <div id="nav" class="overlay">
            <div class="overlay-content">
                <a href="@Url.Action("Newsfeed")">Nieuws</a>
                <br>
                <a href="@Url.Action("ForumHome","Forum")">Forums</a>
                <br>
                <a href="@Url.Action("Index", "Chat")">Chat</a>
                <br>
                <a href="@Url.Action("Groepen")">Groepen</a>
                <br>
                <a href="@Url.Action("Personlist")">Gebruikers</a>
            </div>
            <div class="logout"><a href="@Url.Action("Index1", "Login")">Log uit</a></div>
        </div>
        
        <!-- Link back to personlist page -->
        <div id="personlist"><a href="@Url.Action("Personlist")">&#8592; Terug naar gebruikers</a></div>
       
        <!-- Actual content of the page -->
        <div id="absoluteCenteredDiv">

            <!-- Form to create a new account -->
            <form asp-action="CreateAccount" method="post">
                <div class="box">
                    <div class="row">
                        <div class="column">
                            <h1>Voornaam</h1>
                            <input type="string" required name=firstname id="firstname" size="20">
                        </div>
                        <div class="column">
                            <h1>Achternaam</h1>
                            <input type="string" required name=lastname id="lastname" size="40">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 50px;">
                        <h1>Emailadres</h1>
                        <input type="string" required name=email id="email" size="40">
                    </div>
                    <div class="row">
                        <div class="column">
                            <h1>Wachtwoord</h1>
                            <input type="password" required name=password id="password" size="30">
                        </div>
                        <div class="column">
                            <h1>Wachtwoord herhalen</h1>
                            <input type="password" required name=password2 id="password2" size="30">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 70px;">
                        <input type="checkbox" id="ismanager" name="ismanager" value="true">
                        <label for="manager">Manager</label>
                    </div>
                    <input type="submit" class="button" value="Account aanmaken" id="submit">
                </div>
            </form>
        </div>
    </body>
</html>